openapi: 3.0.0
info:
  title: Ruqqus
  version: '1.0'
  description: 'The initial version of the Ruqqus API, in support of user-authorized Applications.'
  termsOfService: 'https://ruqqus.com/help/terms'
  contact:
    url: 'https://ruqqus.com/help/contact'
    name: Ruqqus
  license:
    name: Mozilla Public License 2.0
    url: 'https://github.com/ruqqus/ruqqus/blob/master/LICENSE'
servers:
  - url: 'https://ruqqus.com/api/v1'
paths:
  '/board_available/{name}':
    get:
      summary: Guild Name Available
      tags: []
      operationId: get-board_available-name
      description: Checks if the guild name is availabile (not an existing guild)
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  available:
                    type: boolean
                  board:
                    type: string
                    minLength: 1
                required:
                  - available
                  - board
              examples:
                Not Available:
                  value:
                    available: false
                    board: ruqqus
                Available:
                  value:
                    available: true
                    board: ThisNameIsAvailable
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
      security:
        - OAuth2:
            - read
        - Access Token: []
    parameters:
      - schema:
          type: string
        name: name
        in: path
        description: Guild name
        required: true
  '/guild/{name}/listing':
    get:
      summary: Guild Post Listing
      tags: []
      operationId: get-api-v1-guild-name-listing
      description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: array
                items:
                  $ref: '#/components/schemas/Post'
              examples:
                example:
                  value:
                    data:
                      - author:
                          banner_url: 'https://i.ruqqus.com/users/movie/banner-1.png'
                          bio: 'Made [Android App](https://play.google.com/store/apps/details?id=com.ruqqus),  [AutoAuth for ruqqus](https://ruqqus-auth.glitch.me) and @xkcdBot'
                          bio_html: |
                            <p>Made <a href="https://play.google.com/store/apps/details?id=com.ruqqus" rel="nofollow noopener" target="_blank">Android App</a>,  <a href="https://ruqqus-auth.glitch.me" rel="nofollow noopener" target="_blank">AutoAuth for ruqqus</a> and <a href="/@xkcdBot"><img class="profile-pic-20 mr-1" src="/@xkcdBot/pic/profile"/>@xkcdBot</a></p>
                          created_utc: 1591950297
                          id: 5ar
                          is_banned: false
                          is_premium: false
                          is_private: false
                          permalink: /@movie
                          profile_url: 'https://i.ruqqus.com/users/movie/profile-3.png'
                          title:
                            color: '#666666'
                            id: 16
                            kind: 3
                            text: ' the Spymaster'
                          username: movie
                        author_name: movie
                        award_count: 0
                        body: "Currently there is no official documentation for Ruqqus API but there is unofficial one by @SuperLeaf1995  https://ruqq.us/36v6, and there is a help page on how to get started with the api: https://ruqqus.com/help/oauth   \r\n\r\nYou can search through [Ruqqus's GitHub page](https://github.com/ruqqus/ruqqus) to find all of the routes.  \r\n\r\nMore specifically: https://github.com/ruqqus/ruqqus/tree/master/ruqqus/routes    \r\n\r\n<hr>   \r\n\r\nIf you wan't to get started making bots check out [ruqqus-js](https://www.npmjs.com/package/ruqqus-js) by @acikek  \r\nIf you are having trouble getting `access token` check out [AutoAuth for ruqqus](https://ruqqus-auth.glitch.me)\r\n\r\n"
                        body_html: |
                          <p>Currently there is no official documentation for Ruqqus API but there is unofficial one by <a href="/@SuperLeaf1995"><img class="profile-pic-20 mr-1" src="/@SuperLeaf1995/pic/profile"/>@SuperLeaf1995</a> <a href="https://ruqq.us/36v6">https://ruqq.us/36v6</a>, and there is a help page on how to get started with the api: <a href="https://ruqqus.com/help/oauth">https://ruqqus.com/help/oauth</a></p>
                          <p>You can search through <a href="https://github.com/ruqqus/ruqqus" rel="nofollow noopener" target="_blank">Ruqqus's GitHub page</a> to find all of the routes.</p>
                          <p>More specifically: <a href="https://github.com/ruqqus/ruqqus/tree/master/ruqqus/routes" rel="nofollow noopener" target="_blank">https://github.com/ruqqus/ruqqus/tree/master/ruqqus/routes</a></p>
                          <hr/>
                          <p>If you wan't to get started making bots check out <a href="https://www.npmjs.com/package/ruqqus-js" rel="nofollow noopener" target="_blank">ruqqus-js</a> by <a href="/@acikek"><img class="profile-pic-20 mr-1" src="/@acikek/pic/profile"/>@acikek</a>  
                          If you are having trouble getting <code>access token</code> check out <a href="https://ruqqus-auth.glitch.me" rel="nofollow noopener" target="_blank">AutoAuth for ruqqus</a></p>
                        comment_count: 7
                        created_utc: 1598950552
                        domain: text post
                        downvotes: 0
                        edited_utc: 1605778377
                        fullname: t2_2v0b
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 2v0b
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/2v0b/how-to-get-started-using-ruqqus
                        score: 9
                        thumb_url: null
                        title: How to get started using Ruqqus API
                        upvotes: 9
                        url: ''
                        voted: 1
                      - author:
                          banner_url: 'https://i.ruqqus.com/users/acikek/banner-1.png'
                          bio: "<ol>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li><b><a href=\"https://ruqqus.com/signup?ref=acikek\">acikek</a></b></li>\r\n  <li> </li>\r\n  <li>Author of ruqqus-js • @Multipurpose</li>"
                          bio_html: |-
                            <ol>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li><b><a href="https://ruqqus.com/signup?ref=acikek">acikek</a></b></li>
                            <li> </li>
                            <li>Author of ruqqus-js • @Multipurpose</li>
                            </ol>
                          created_utc: 1582741873
                          id: pi
                          is_banned: false
                          is_premium: true
                          is_private: false
                          permalink: /@acikek
                          profile_url: 'https://i.ruqqus.com/users/acikek/profile-1.png'
                          title:
                            color: '#5555dd'
                            id: 40
                            kind: 3
                            text: ' the Test Dummy'
                          username: acikek
                        author_name: acikek
                        award_count: 0
                        body: "If you are interested in making a Ruqqus bot, an API wrapper, or are looking for support for either of those, or even just want to learn the Ruqqus API in general, this is the place for you. \r\n\r\n[Discord Invite](https://discord.gg/GWRutXB)"
                        body_html: |
                          <p>If you are interested in making a Ruqqus bot, an API wrapper, or are looking for support for either of those, or even just want to learn the Ruqqus API in general, this is the place for you.</p>
                          <p><a href="https://discord.gg/GWRutXB" rel="nofollow noopener" target="_blank">Discord Invite</a></p>
                        comment_count: 3
                        created_utc: 1600908899
                        domain: discord.gg
                        downvotes: 0
                        edited_utc: 0
                        fullname: t2_3hsi
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 3hsi
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/3hsi/ruqqus-api-discussion-discord-server
                        score: 10
                        thumb_url: 'https://i.ruqqus.com/posts/3hsi/thumb.png'
                        title: Ruqqus API Discussion Discord Server
                        upvotes: 11
                        url: 'https://discord.gg/GWRutXB'
                        voted: 1
                      - author:
                          banner_url: 'https://i.ruqqus.com/users/movie/banner-1.png'
                          bio: 'Made [Android App](https://play.google.com/store/apps/details?id=com.ruqqus),  [AutoAuth for ruqqus](https://ruqqus-auth.glitch.me) and @xkcdBot'
                          bio_html: |
                            <p>Made <a href="https://play.google.com/store/apps/details?id=com.ruqqus" rel="nofollow noopener" target="_blank">Android App</a>,  <a href="https://ruqqus-auth.glitch.me" rel="nofollow noopener" target="_blank">AutoAuth for ruqqus</a> and <a href="/@xkcdBot"><img class="profile-pic-20 mr-1" src="/@xkcdBot/pic/profile"/>@xkcdBot</a></p>
                          created_utc: 1591950297
                          id: 5ar
                          is_banned: false
                          is_premium: false
                          is_private: false
                          permalink: /@movie
                          profile_url: 'https://i.ruqqus.com/users/movie/profile-3.png'
                          title:
                            color: '#666666'
                            id: 16
                            kind: 3
                            text: ' the Spymaster'
                          username: movie
                        author_name: movie
                        award_count: 0
                        body: "![](https://i.imgur.com/cJjjVKC.jpg)   \r\n<hr>        \r\n\r\n### Introducing - AutoAuth for ruqqus     \r\n* Fast and automatic way to get ruqqus access token for developing or testing purposes    \r\n* None of the data is logged, and all of the temporary data (app state...) gets deleted with user session, so there is no way for anyone to see any of the private data.    \r\n* The app code is open source on GitHub, and the app gets build from it \r\n\r\n\r\nGo check it out!  \r\nhttps://ruqqus-auth.glitch.me/  "
                        body_html: |
                          <p><a data-target="#expandImageModal" data-toggle="modal" href="https://i.imgur.com/cJjjVKC.jpg" onclick="expandDesktopImage('https://i.imgur.com/cJjjVKC.jpg');" rel="nofollow noopener" target="_blank"><img class="in-comment-image rounded-sm my-2" rel="nofollow" src="https://i.imgur.com/cJjjVKC.jpg" style="max-height: 100px; max-width: 100%;"/></a></p>
                          <hr/>
                          <h3>Introducing - AutoAuth for ruqqus</h3>
                          <ul>
                          <li>Fast and automatic way to get ruqqus access token for developing or testing purposes</li>
                          <li>None of the data is logged, and all of the temporary data (app state...) gets deleted with user session, so there is no way for anyone to see any of the private data.</li>
                          <li>The app code is open source on GitHub, and the app gets build from it</li>
                          </ul>
                          <p>Go check it out!  
                          <a href="https://ruqqus-auth.glitch.me/" rel="nofollow noopener" target="_blank">https://ruqqus-auth.glitch.me/</a></p>
                        comment_count: 1
                        created_utc: 1605697276
                        domain: ruqqus-auth.glitch.me
                        downvotes: 0
                        edited_utc: 1605697504
                        fullname: t2_4z8h
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 4z8h
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/4z8h/introducing-autoauth-for-ruqqus-automatic-and
                        score: 10
                        thumb_url: null
                        title: Introducing - AutoAuth for ruqqus - Automatic and secure way to get ruqqus api authentication token
                        upvotes: 10
                        url: 'https://ruqqus-auth.glitch.me/'
                        voted: 1
                      - author:
                          banner_url: 'https://i.ruqqus.com/users/Seq37/banner-2.png'
                          bio: "pronounced like \"seek\"\r\n\r\nhoarding badges since 2020 & i made @imagedirectlinkbot & @snappy btw"
                          bio_html: |
                            <p>pronounced like "seek"</p>
                            <p>hoarding badges since 2020 &amp; i made <a href="/@ImageDirectLinkBot"><img class="profile-pic-20 mr-1" src="/@ImageDirectLinkBot/pic/profile"/>@ImageDirectLinkBot</a> &amp; <a href="/@Snappy"><img class="profile-pic-20 mr-1" src="/@Snappy/pic/profile"/>@Snappy</a> btw</p>
                          created_utc: 1593476358
                          id: cwm
                          is_banned: false
                          is_premium: true
                          is_private: true
                          permalink: /@Seq37
                          profile_url: 'https://i.ruqqus.com/users/Seq37/profile-1.png'
                          title:
                            color: '#666666'
                            id: 16
                            kind: 3
                            text: ' the Spymaster'
                          username: Seq37
                        author_name: Seq37
                        award_count: 1
                        body: ''
                        body_html: ''
                        comment_count: 4
                        created_utc: 1606498373
                        domain: ruqqus.com
                        downvotes: 6
                        edited_utc: 0
                        fullname: t2_58l0
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 58l0
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/58l0/the-apolitical-guilds-union
                        score: 20
                        thumb_url: 'https://i.ruqqus.com/posts/58l0/thumb.png'
                        title: The Apolitical Guilds Union
                        upvotes: 26
                        url: 'https://ruqqus.com/+ApoliticalGuildsUnion/post/58ki/the-apolitical-guilds-union'
                        voted: 1
                      - author:
                          banner_url: 'https://i.ruqqus.com/users/kek/banner-1.png'
                          bio: "Ruqqus front-end dev.\r\n\r\nVue demo - https://www.youtube.com/watch?v=YddwkMJG1Jo"
                          bio_html: |
                            <p>Ruqqus front-end dev.</p>
                            <p>Vue demo - <a href="https://www.youtube.com/watch?v=YddwkMJG1Jo" rel="nofollow noopener" target="_blank">https://www.youtube.com/watch?v=YddwkMJG1Jo</a></p>
                          created_utc: 1562448602
                          id: f
                          is_banned: false
                          is_premium: true
                          is_private: false
                          permalink: /@kek
                          profile_url: 'https://i.ruqqus.com/users/kek/profile-0.png'
                          title:
                            color: '#5555dd'
                            id: 5
                            kind: 3
                            text: ' the Codesmith'
                          username: kek
                        author_name: kek
                        award_count: 0
                        body: "Comment if you want your PFP and answer possibly featured on the Year in Review.\r\n\r\nThe testimonial will be similar to:\r\n\r\n![](https://i.ibb.co/sCJ9YxZ/image.png)"
                        body_html: |
                          <p>Comment if you want your PFP and answer possibly featured on the Year in Review.</p>
                          <p>The testimonial will be similar to:</p>
                          <p><a data-target="#expandImageModal" data-toggle="modal" href="https://i.ibb.co/sCJ9YxZ/image.png" onclick="expandDesktopImage('https://i.ibb.co/sCJ9YxZ/image.png');" rel="nofollow noopener" target="_blank"><img class="in-comment-image rounded-sm my-2" rel="nofollow" src="https://i.ibb.co/sCJ9YxZ/image.png" style="max-height: 100px; max-width: 100%;"/></a></p>
                        comment_count: 5
                        created_utc: 1608761965
                        domain: text post
                        downvotes: 1
                        edited_utc: 1608762091
                        fullname: t2_614p
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 614p
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/614p/devs-what-apps-bots-etc-have
                        score: 6
                        thumb_url: null
                        title: 'Devs, what apps, bots, etc have you made with Ruqqus wrappers like r.js?'
                        upvotes: 7
                        url: ''
                        voted: 1
                      - author:
                          banner_url: /assets/images/profiles/default_bg.png
                          bio: ''
                          bio_html: ''
                          created_utc: 1585013428
                          id: 1mr
                          is_banned: false
                          is_premium: true
                          is_private: true
                          permalink: /@Extract
                          profile_url: 'https://i.ruqqus.com/users/Extract/profile-2.png'
                          title:
                            color: '#dd5555'
                            id: 20
                            kind: 1
                            text: ' the Hot'
                          username: Extract
                        author_name: Extract
                        award_count: 0
                        body: "I've requested an API token for a bot account. The bot, as t he name suggests, converts Twitter links to Nitter links (or, well, it will, once I get a token and can play with the Ruqqus API for a bit).\r\n\r\nFor some reason, though, the app request is simply ignored - neither denied nor confirmed, even though it's supposed to take a few hours at most (at least according to what I've read here about the process).\r\n\r\nAny updates @captainmeta4?"
                        body_html: |
                          <p>I've requested an API token for a bot account. The bot, as t he name suggests, converts Twitter links to Nitter links (or, well, it will, once I get a token and can play with the Ruqqus API for a bit).</p>
                          <p>For some reason, though, the app request is simply ignored - neither denied nor confirmed, even though it's supposed to take a few hours at most (at least according to what I've read here about the process).</p>
                          <p>Any updates <a href="/@captainmeta4"><img class="profile-pic-20 mr-1" src="/@captainmeta4/pic/profile"/>@captainmeta4</a>?</p>
                        comment_count: 1
                        created_utc: 1606683001
                        domain: ruqqus.com
                        downvotes: 0
                        edited_utc: 0
                        fullname: t2_5ayl
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 5ayl
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/5ayl/app-request-stuck-in-limbo
                        score: 6
                        thumb_url: 'https://i.ruqqus.com/posts/5ayl/thumb.png'
                        title: App request stuck in limbo?
                        upvotes: 6
                        url: 'https://ruqqus.com/@NitterBot'
                        voted: 1
                      - author:
                          banner_url: 'https://i.ruqqus.com/users/acikek/banner-1.png'
                          bio: "<ol>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li><b><a href=\"https://ruqqus.com/signup?ref=acikek\">acikek</a></b></li>\r\n  <li> </li>\r\n  <li>Author of ruqqus-js • @Multipurpose</li>"
                          bio_html: |-
                            <ol>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li><b><a href="https://ruqqus.com/signup?ref=acikek">acikek</a></b></li>
                            <li> </li>
                            <li>Author of ruqqus-js • @Multipurpose</li>
                            </ol>
                          created_utc: 1582741873
                          id: pi
                          is_banned: false
                          is_premium: true
                          is_private: false
                          permalink: /@acikek
                          profile_url: 'https://i.ruqqus.com/users/acikek/profile-1.png'
                          title:
                            color: '#5555dd'
                            id: 40
                            kind: 3
                            text: ' the Test Dummy'
                          username: acikek
                        author_name: acikek
                        award_count: 0
                        body: '..in fact, I''m actually posting this with a bot right now. Check out https://www.npmjs.com/package/ruqqus-js !'
                        body_html: |
                          <p>..in fact, I'm actually posting this with a bot right now. Check out <a href="https://www.npmjs.com/package/ruqqus-js" rel="nofollow noopener" target="_blank">https://www.npmjs.com/package/ruqqus-js</a> !</p>
                        comment_count: 23
                        created_utc: 1599436708
                        domain: text post
                        downvotes: 0
                        edited_utc: 1599451726
                        fullname: t2_3128
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: '3128'
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/3128/hey-i-just-finsihed-my-nodejs
                        score: 35
                        thumb_url: null
                        title: Hey! I just finsihed my Node.js wrapper!
                        upvotes: 34
                        url: ''
                        voted: 1
                      - author:
                          banner_url: /assets/images/profiles/default_bg.png
                          bio: Honestly I'm mostly here because I want to be here before reddit dies to death
                          bio_html: |
                            <p>Honestly I'm mostly here because I want to be here before reddit dies to death</p>
                          created_utc: 1593581595
                          id: gpk
                          is_banned: false
                          is_premium: true
                          is_private: true
                          permalink: /@danhab99
                          profile_url: 'https://i.ruqqus.com/users/danhab99/profile-1.png'
                          title:
                            color: '#885588'
                            id: 31
                            kind: 4
                            text: ' the Dumpster Arsonist'
                          username: danhab99
                        author_name: danhab99
                        award_count: 0
                        body: "I've been working on a new mobile app called Scroll For Ruqqus and I've been having issues understanding how logging in works. I'm using ruqqus-js for the API wrapper but I can't get it to login. Can someone take a look and tell me if I'm doing something wrong\r\n\r\nhttps://github.com/danhab99/scroll-for-ruqqus/blob/master/views/login.js"
                        body_html: |
                          <p>I've been working on a new mobile app called Scroll For Ruqqus and I've been having issues understanding how logging in works. I'm using ruqqus-js for the API wrapper but I can't get it to login. Can someone take a look and tell me if I'm doing something wrong</p>
                          <p><a href="https://github.com/danhab99/scroll-for-ruqqus/blob/master/views/login.js" rel="nofollow noopener" target="_blank">https://github.com/danhab99/scroll-for-ruqqus/blob/master/views/login.js</a></p>
                        comment_count: 9
                        created_utc: 1604266428
                        domain: github.com
                        downvotes: 0
                        edited_utc: 0
                        fullname: t2_4hkt
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 4hkt
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/4hkt/question-about-oauth-logging-in
                        score: 9
                        thumb_url: 'https://i.ruqqus.com/posts/4hkt/thumb.png'
                        title: Question about OAuth logging in
                        upvotes: 9
                        url: 'https://github.com/danhab99/scroll-for-ruqqus'
                        voted: 1
                      - author:
                          banner_url: 'https://i.ruqqus.com/users/vxern/banner-8.png'
                          bio: "You're a mobile user... How did I know? ~vxern</br></br></br></br></br><h1 class=\"h3 mb-0\">[վկսերն]()</h1>\r\n<p class=\"text-muted\"></p><p>♛ Guildmaster of +WebsiteDirectory, +romanian, +polish, +english, +armenian and more.</p>"
                          bio_html: |
                            <p>You're a mobile user... How did I know? ~vxern<br/><br/><br/><br/><br/></p><h1><a href="">վկսերն</a></h1><p></p>
                            <p></p><p>♛ Guildmaster of +WebsiteDirectory, +romanian, +polish, +english, +armenian and more.</p>
                          created_utc: 1599991478
                          id: 1ax8
                          is_banned: false
                          is_premium: false
                          is_private: false
                          permalink: /@vxern
                          profile_url: 'https://i.ruqqus.com/users/vxern/profile-1.png'
                          title:
                            color: '#dd5555'
                            id: 4
                            kind: 3
                            text: ', Breaker of Ruqqus'
                          username: vxern
                        author_name: vxern
                        award_count: 0
                        body: ''
                        body_html: ''
                        comment_count: 0
                        created_utc: 1601416499
                        domain: github.com
                        downvotes: 1
                        edited_utc: 0
                        fullname: t2_3n65
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 3n65
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/3n65/ruqqusdart-a-powerful-dart-library-for
                        score: 11
                        thumb_url: 'https://i.ruqqus.com/posts/3n65/thumb.png'
                        title: 'ruqqus.dart: A powerful Dart library for interacting with the Ruqqus API.'
                        upvotes: 13
                        url: 'https://github.com/devongalat/ruqqus.dart'
                        voted: 1
                      - author:
                          id: yz
                          is_deleted: true
                          permalink: /@SuperLeaf1995
                          username: SuperLeaf1995
                        author_name: null
                        award_count: 0
                        body: "Some changes to the revision 3.\r\n\r\nThe entire thing is now better for reading."
                        body_html: |
                          <p>Some changes to the revision 3.</p>
                          <p>The entire thing is now better for reading.</p>
                        comment_count: 8
                        created_utc: 1599961207
                        domain: drive.google.com
                        downvotes: 1
                        edited_utc: 0
                        fullname: t2_36v6
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 36v6
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/36v6/api-documentation-revision-4
                        score: 14
                        thumb_url: 'https://i.ruqqus.com/posts/36v6/thumb.png'
                        title: API Documentation Revision 4.
                        upvotes: 14
                        url: 'https://drive.google.com/file/d/1dFzkVxidCHpvnUUTaYtLu6Cu7Wh0oeni/view?usp=sharing'
                        voted: 1
                      - author:
                          banner_url: 'https://i.ruqqus.com/users/incel_45/banner-1.png'
                          bio: is it over?
                          bio_html: |
                            <p>is it over?</p>
                          created_utc: 1598734900
                          id: 18ar
                          is_banned: false
                          is_premium: false
                          is_private: false
                          permalink: /@incel_45
                          profile_url: 'https://i.ruqqus.com/users/incel_45/profile-2.png'
                          title: null
                          username: incel_45
                        author_name: incel_45
                        award_count: 0
                        body: "hi,\r\nwhat's the bot world look like?  I have novice programming skills but would be willing to learn.  however i don't really know how to get started.\r\n\r\nI see that yesterdays' update may have broken some/all bots.  \r\n\r\ni checked out the sticky, but, unfortunately the list of routes means nothing to me.\r\n\r\nanyone have a bot i can look at the coding for , or anyone consider building me a bot in exchange for Ruqqus coins or crypto ?"
                        body_html: |
                          <p>hi,
                          what's the bot world look like?  I have novice programming skills but would be willing to learn.  however i don't really know how to get started.</p>
                          <p>I see that yesterdays' update may have broken some/all bots.</p>
                          <p>i checked out the sticky, but, unfortunately the list of routes means nothing to me.</p>
                          <p>anyone have a bot i can look at the coding for , or anyone consider building me a bot in exchange for Ruqqus coins or crypto ?</p>
                        comment_count: 11
                        created_utc: 1604157258
                        domain: text post
                        downvotes: 4
                        edited_utc: 1604169746
                        fullname: t2_4gbo
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 4gbo
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/4gbo/need-a-bot
                        score: 1
                        thumb_url: null
                        title: need a bot
                        upvotes: 5
                        url: ''
                        voted: 1
                      - author:
                          banner_url: 'https://i.ruqqus.com/users/movie/banner-1.png'
                          bio: 'Made [Android App](https://play.google.com/store/apps/details?id=com.ruqqus),  [AutoAuth for ruqqus](https://ruqqus-auth.glitch.me) and @xkcdBot'
                          bio_html: |
                            <p>Made <a href="https://play.google.com/store/apps/details?id=com.ruqqus" rel="nofollow noopener" target="_blank">Android App</a>,  <a href="https://ruqqus-auth.glitch.me" rel="nofollow noopener" target="_blank">AutoAuth for ruqqus</a> and <a href="/@xkcdBot"><img class="profile-pic-20 mr-1" src="/@xkcdBot/pic/profile"/>@xkcdBot</a></p>
                          created_utc: 1591950297
                          id: 5ar
                          is_banned: false
                          is_premium: false
                          is_private: false
                          permalink: /@movie
                          profile_url: 'https://i.ruqqus.com/users/movie/profile-3.png'
                          title:
                            color: '#666666'
                            id: 16
                            kind: 3
                            text: ' the Spymaster'
                          username: movie
                        author_name: movie
                        award_count: 0
                        body: This is a test post made by native android app
                        body_html: |
                          <p>This is a test post made by native android app</p>
                        comment_count: 1
                        created_utc: 1599157629
                        domain: text post
                        downvotes: 0
                        edited_utc: 0
                        fullname: t2_2xv6
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 2xv6
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/2xv6/native-app-test-post
                        score: 4
                        thumb_url: null
                        title: Native app test post
                        upvotes: 4
                        url: ''
                        voted: 1
                      - author:
                          id: yz
                          is_deleted: true
                          permalink: /@SuperLeaf1995
                          username: SuperLeaf1995
                        author_name: null
                        award_count: 0
                        body: "This is an unofficial API guide, written in good faith to help everyone in their journey to making bots and/or APIs.\r\n\r\nIncludes two sections: One for API developers and other for Bot developers.\r\n\r\nThis explains several important stuff of the Ruqqus API.\r\n\r\nI hope this PDF is useful for API/Bot devs ;)."
                        body_html: |
                          <p>This is an unofficial API guide, written in good faith to help everyone in their journey to making bots and/or APIs.</p>
                          <p>Includes two sections: One for API developers and other for Bot developers.</p>
                          <p>This explains several important stuff of the Ruqqus API.</p>
                          <p>I hope this PDF is useful for API/Bot devs ;).</p>
                        comment_count: 2
                        created_utc: 1599168920
                        domain: drive.google.com
                        downvotes: 1
                        edited_utc: 0
                        fullname: t2_2y1f
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 2y1f
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/2y1f/api-guide-for-bot-and-api
                        score: 3
                        thumb_url: null
                        title: API Guide for bot and API developers
                        upvotes: 4
                        url: 'https://drive.google.com/file/d/1EGSuDSPShxEHEjGz1NJ1K7VcXqpanVQy/view?usp=sharing'
                        voted: 1
                      - author:
                          banner_url: 'https://i.ruqqus.com/users/Seq37/banner-2.png'
                          bio: "pronounced like \"seek\"\r\n\r\nhoarding badges since 2020 & i made @imagedirectlinkbot & @snappy btw"
                          bio_html: |
                            <p>pronounced like "seek"</p>
                            <p>hoarding badges since 2020 &amp; i made <a href="/@ImageDirectLinkBot"><img class="profile-pic-20 mr-1" src="/@ImageDirectLinkBot/pic/profile"/>@ImageDirectLinkBot</a> &amp; <a href="/@Snappy"><img class="profile-pic-20 mr-1" src="/@Snappy/pic/profile"/>@Snappy</a> btw</p>
                          created_utc: 1593476358
                          id: cwm
                          is_banned: false
                          is_premium: true
                          is_private: true
                          permalink: /@Seq37
                          profile_url: 'https://i.ruqqus.com/users/Seq37/profile-1.png'
                          title:
                            color: '#666666'
                            id: 16
                            kind: 3
                            text: ' the Spymaster'
                          username: Seq37
                        author_name: Seq37
                        award_count: 0
                        body: "Ruqqus API error codes be like:\r\n\r\n* 401: your token is invalid or expired (✿◠‿◠)\r\n* 403: you don't have access to this data ٩◔‿◔۶\r\n* 404: this API method does not exist ≧◡≦\r\n* 405: you should probably change your request method ≖‿≖\r\n* 500: I̷̜ͯnͮ̾͒tͪͩ͗e̍̓r̸͐ͯn̫͂̇aͣ̔̾lͫ͑̇ ̏̃ͯS̮̲͐éͦ̚r̔ͭ̔v͆̌͌e̵̐ͅȑͨ͂ ̧̪ͪȨ̺̃r̄ͤ͆r͔͌̀ǫ̮̱r̠͆͆"
                        body_html: |
                          <p>Ruqqus API error codes be like:</p>
                          <ul>
                          <li>401: your token is invalid or expired (✿◠‿◠)</li>
                          <li>403: you don't have access to this data ٩◔‿◔۶</li>
                          <li>404: this API method does not exist ≧◡≦</li>
                          <li>405: you should probably change your request method ≖‿≖</li>
                          <li>500: I̷̜ͯnͮ̾͒tͪͩ͗e̍̓r̸͐ͯn̫͂̇aͣ̔̾lͫ͑̇ ̏̃ͯS̮̲͐éͦ̚r̔ͭ̔v͆̌͌e̵̐ͅȑͨ͂ ̧̪ͪȨ̺̃r̄ͤ͆r͔͌̀ǫ̮̱r̠͆͆</li>
                          </ul>
                        comment_count: 0
                        created_utc: 1598950181
                        domain: text post
                        downvotes: 1
                        edited_utc: 0
                        fullname: t2_2v07
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 2v07
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/2v07/a-joke-i-came-up-with
                        score: 3
                        thumb_url: null
                        title: A joke I came up with a while ago
                        upvotes: 4
                        url: ''
                        voted: 1
                      - author:
                          banner_url: 'https://i.ruqqus.com/users/acikek/banner-1.png'
                          bio: "<ol>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li><b><a href=\"https://ruqqus.com/signup?ref=acikek\">acikek</a></b></li>\r\n  <li> </li>\r\n  <li>Author of ruqqus-js • @Multipurpose</li>"
                          bio_html: |-
                            <ol>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li><b><a href="https://ruqqus.com/signup?ref=acikek">acikek</a></b></li>
                            <li> </li>
                            <li>Author of ruqqus-js • @Multipurpose</li>
                            </ol>
                          created_utc: 1582741873
                          id: pi
                          is_banned: false
                          is_premium: true
                          is_private: false
                          permalink: /@acikek
                          profile_url: 'https://i.ruqqus.com/users/acikek/profile-1.png'
                          title:
                            color: '#5555dd'
                            id: 40
                            kind: 3
                            text: ' the Test Dummy'
                          username: acikek
                        author_name: acikek
                        award_count: 0
                        body: idk whats going on with events
                        body_html: |
                          <p>idk whats going on with events</p>
                        comment_count: 5
                        created_utc: 1599354035
                        domain: text post
                        downvotes: 1
                        edited_utc: 0
                        fullname: t2_306z
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 306z
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/306z/yet-another-test-post
                        score: 2
                        thumb_url: null
                        title: yet another test post
                        upvotes: 3
                        url: ''
                        voted: 1
                      - author:
                          banner_url: 'https://i.ruqqus.com/users/foreverzer0/banner-3.png'
                          bio: ''
                          bio_html: ''
                          created_utc: 1592359144
                          id: 6uo
                          is_banned: false
                          is_premium: false
                          is_private: true
                          permalink: /@foreverzer0
                          profile_url: 'https://i.ruqqus.com/users/foreverzer0/profile-2.png'
                          title:
                            color: '#5555dd'
                            id: 22
                            kind: 1
                            text: ' the Likeable'
                          username: foreverzer0
                        author_name: foreverzer0
                        award_count: 0
                        body: "I have been working on a Ruby implementation of the API, and am down to the last of the \"common\" functionality, and so far so good, everything works like a charm.\r\n\r\nWhen it comes to implementing [api_vote_post](https://github.com/ruqqus/ruqqus/blob/7dfe5b22732434362a7b98553417d089c3cd0c3b/ruqqus/routes/votes.py#L17) and [api_vote_comment](https://github.com/ruqqus/ruqqus/blob/7dfe5b22732434362a7b98553417d089c3cd0c3b/ruqqus/routes/votes.py#L71), for the life of me I cannot get this to work, and strangest yet it returns a 404, when it clearly exists.\r\n\r\nSo here's what I am doing and what is causing the error. For the sake of example, let's use [this post](https://ruqqus.com/post/1wbo/hi-im-josh-roehl-singer-and) and say I am attempting to upvote it. \r\n\r\n* Have confirmed I am properly authorized, as I can make other API calls both before and after this call fails with the same authentication. I have also confirmed that `vote` is in my scopes.\r\n* `Authorization` header is properly formatted (as I stated, everything else works)\r\n* Build the following URI: https://ruqqus.com/api/v1/vote/post/1wbo/1\r\n* Send an POST request to that URL with no parameters\r\n* 404 error returned\r\n* Retry using the \"full name\" as `t2_1wbo`, same outcome.\r\n* Same thing applies when doing the same with the comment endpoint\r\n\r\nI am at my wit's end, and this simple API call has defeated me. Can anyone even just confirm/deny that this is working for them?\r\n\r\n\r\nEDIT: \r\n\r\nI fixed a typo in a constant that caused the 404, but now I am just back to 401 (Unauthorized), which was the original error for the first 10-20 times I rewrote the method.\r\n"
                        body_html: |
                          <p>I have been working on a Ruby implementation of the API, and am down to the last of the "common" functionality, and so far so good, everything works like a charm.</p>
                          <p>When it comes to implementing <a href="https://github.com/ruqqus/ruqqus/blob/7dfe5b22732434362a7b98553417d089c3cd0c3b/ruqqus/routes/votes.py#L17" rel="nofollow noopener" target="_blank">api_vote_post</a> and <a href="https://github.com/ruqqus/ruqqus/blob/7dfe5b22732434362a7b98553417d089c3cd0c3b/ruqqus/routes/votes.py#L71" rel="nofollow noopener" target="_blank">api_vote_comment</a>, for the life of me I cannot get this to work, and strangest yet it returns a 404, when it clearly exists.</p>
                          <p>So here's what I am doing and what is causing the error. For the sake of example, let's use <a href="https://ruqqus.com/post/1wbo/hi-im-josh-roehl-singer-and">this post</a> and say I am attempting to upvote it.</p>
                          <ul>
                          <li>Have confirmed I am properly authorized, as I can make other API calls both before and after this call fails with the same authentication. I have also confirmed that <code>vote</code> is in my scopes.</li>
                          <li><code>Authorization</code> header is properly formatted (as I stated, everything else works)</li>
                          <li>Build the following URI: <a href="https://ruqqus.com/api/v1/vote/post/1wbo/1">https://ruqqus.com/api/v1/vote/post/1wbo/1</a></li>
                          <li>Send an POST request to that URL with no parameters</li>
                          <li>404 error returned</li>
                          <li>Retry using the "full name" as <code>t2_1wbo</code>, same outcome.</li>
                          <li>Same thing applies when doing the same with the comment endpoint</li>
                          </ul>
                          <p>I am at my wit's end, and this simple API call has defeated me. Can anyone even just confirm/deny that this is working for them?</p>
                          <p>EDIT:</p>
                          <p>I fixed a typo in a constant that caused the 404, but now I am just back to 401 (Unauthorized), which was the original error for the first 10-20 times I rewrote the method.</p>
                        comment_count: 4
                        created_utc: 1599131701
                        domain: text post
                        downvotes: 0
                        edited_utc: 1599137559
                        fullname: t2_2xgo
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 2xgo
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/2xgo/is-the-apis-postcomment-voting-broken
                        score: 2
                        thumb_url: null
                        title: 'Is the API''s post/comment voting broken, or am I just being stupid?'
                        upvotes: 2
                        url: ''
                        voted: 1
                      - author:
                          banner_url: 'https://i.ruqqus.com/users/acikek/banner-1.png'
                          bio: "<ol>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li> </li>\r\n  <li><b><a href=\"https://ruqqus.com/signup?ref=acikek\">acikek</a></b></li>\r\n  <li> </li>\r\n  <li>Author of ruqqus-js • @Multipurpose</li>"
                          bio_html: |-
                            <ol>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li> </li>
                            <li><b><a href="https://ruqqus.com/signup?ref=acikek">acikek</a></b></li>
                            <li> </li>
                            <li>Author of ruqqus-js • @Multipurpose</li>
                            </ol>
                          created_utc: 1582741873
                          id: pi
                          is_banned: false
                          is_premium: true
                          is_private: false
                          permalink: /@acikek
                          profile_url: 'https://i.ruqqus.com/users/acikek/profile-1.png'
                          title:
                            color: '#5555dd'
                            id: 40
                            kind: 3
                            text: ' the Test Dummy'
                          username: acikek
                        author_name: acikek
                        award_count: 0
                        body: 'If you''re reading this, this post was made by a bot!'
                        body_html: |
                          <p>If you're reading this, this post was made by a bot!</p>
                        comment_count: 7
                        created_utc: 1599076575
                        domain: text post
                        downvotes: 0
                        edited_utc: 0
                        fullname: t2_2wrn
                        guild:
                          banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                          color: '#2A96F3'
                          created_utc: 1598948139
                          description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                          description_html: |
                            <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                          fullname: t4_3my
                          id: 3my
                          is_banned: false
                          is_private: false
                          is_restricted: false
                          is_siege_protected: false
                          name: RuqqusAPI
                          over_18: false
                          permalink: /+RuqqusAPI
                          profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                        guild_name: RuqqusAPI
                        id: 2wrn
                        is_archived: false
                        is_banned: false
                        is_deleted: false
                        is_nsfl: false
                        is_nsfw: false
                        is_offensive: false
                        is_politics: false
                        original_guild: null
                        original_guild_name: null
                        permalink: /+RuqqusAPI/post/2wrn/this-is-a-test-post
                        score: 2
                        thumb_url: null
                        title: This is a test post!
                        upvotes: 2
                        url: ''
                        voted: 1
                    next_exists: false
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
      parameters: []
      security:
        - OAuth2:
            - read
        - Access Token: []
    parameters:
      - schema:
          type: string
        name: name
        in: path
        description: Guild name
        required: true
  '/mod/take/{pid}':
    parameters:
      - schema:
          type: string
        name: pid
        in: path
        required: true
        description: Post ID
    post:
      summary: Yank Post
      operationId: post-mod-take-pid
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                required:
                  - error
              examples:
                Invalid or Expired Token:
                  value:
                    error: 401 Not Authorized. Invalid or Expired Token
                GM Recent yank:
                  value:
                    error: You've yanked a post recently. You need to wait 1 hour between yanks.
                Guild Recent yank:
                  value:
                    error: +guild_name has yanked a post recently. The Guild needs to wait 1 hour between yanks.
                Missing scope:
                  value:
                    error: '401 Not Authorized. Scope `{scope}` is required.'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                required:
                  - error
              examples:
                App suspended:
                  value:
                    error: '403 Forbidden. The application `{client.application.app_name}` is suspended.'
                User suspended:
                  value:
                    error: 403 Forbidden. The user account is suspended.
                Guild banned:
                  value:
                    error: '+{board.name} is banned. You can''t yank anything there.'
                Not in +general:
                  value:
                    error: This post is no longer in +general
                Not a GM:
                  value:
                    error: 'You are no longer a guildmaster of +{board.name}'
                User exiled:
                  value:
                    error: '@{post.author.username} is exiled from +{board.name}, so you can''t yank their post there.'
                Can't yank from user:
                  value:
                    error: 'You can''t yank @{post.author.username}''s content.'
                'Can''t yank ':
                  value:
                    error: 'You can''t yank this particular post to +{board.name}.'
                Guild private:
                  value:
                    error: '+{board.name} is private, so you can only yank content that started there.'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                required:
                  - error
              examples:
                Invalid post ID:
                  value:
                    error: invalid post id
      description: |
        Endpoint for yanking posts
      security:
        - OAuth2:
            - guildmaster
        - Access Token: []
  '/guild/{boardname}/comments':
    get:
      summary: Guild Comment Listing
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      $ref: '#/components/schemas/Comment'
                required:
                  - data
              examples: {}
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
      operationId: get-guild-boardname-comments
      description: Endpoint for retriving comments from a guild
      security:
        - OAuth2:
            - read
        - Access Token: []
      parameters:
        - $ref: '#/components/parameters/page'
    parameters:
      - schema:
          type: string
        name: boardname
        in: path
        required: true
        description: Guild name
  '/comment/{c_id}':
    get:
      summary: Comment JSON
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
              examples:
                example:
                  value:
                    author:
                      banner_url: 'https://i.ruqqus.com/users/foreverzer0/banner-3.png'
                      bio: ''
                      bio_html: ''
                      created_utc: 1592359144
                      id: 6uo
                      is_banned: false
                      is_premium: false
                      is_private: true
                      permalink: /@foreverzer0
                      profile_url: 'https://i.ruqqus.com/users/foreverzer0/profile-2.png'
                      title:
                        color: '#5555dd'
                        id: 22
                        kind: 1
                        text: ' the Likeable'
                      username: foreverzer0
                    author_name: foreverzer0
                    award_count: 0
                    body: this is a test body
                    body_html: |
                      <p>this is a test body</p>
                    created_utc: 1599226564
                    downvotes: 0
                    edited_utc: 0
                    fullname: t3_aa59
                    guild:
                      banner_url: 'https://i.ruqqus.com/board/ruqqusapi/banner-3.png'
                      color: '#2A96F3'
                      created_utc: 1598948139
                      description: 'A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes'
                      description_html: |
                        <p>A place to discuss Ruqqus API, ask questions and post "500 (Internal server error)" memes</p>
                      fullname: t4_3my
                      id: 3my
                      is_banned: false
                      is_private: false
                      is_restricted: false
                      is_siege_protected: false
                      name: RuqqusAPI
                      over_18: false
                      permalink: /+RuqqusAPI
                      profile_url: 'https://i.ruqqus.com/board/ruqqusapi/profile-2.png'
                    id: aa59
                    is_archived: false
                    is_banned: false
                    is_bot: false
                    is_deleted: false
                    is_nsfl: false
                    is_nsfw: false
                    is_offensive: false
                    level: 1
                    permalink: /+RuqqusAPI/post/2v0b/how-to-get-started-using-ruqqus/aa59
                    post:
                      author_name: movie
                      award_count: 0
                      body: "Currently there is no official documentation for Ruqqus API but there is unofficial one by @SuperLeaf1995  https://ruqq.us/36v6, and there is a help page on how to get started with the api: https://ruqqus.com/help/oauth   \r\n\r\nYou can search through [Ruqqus's GitHub page](https://github.com/ruqqus/ruqqus) to find all of the routes.  \r\n\r\nMore specifically: https://github.com/ruqqus/ruqqus/tree/master/ruqqus/routes    \r\n\r\n<hr>   \r\n\r\nIf you wan't to get started making bots check out [ruqqus-js](https://www.npmjs.com/package/ruqqus-js) by @acikek  \r\nIf you are having trouble getting `access token` check out [AutoAuth for ruqqus](https://ruqqus-auth.glitch.me)\r\n\r\n"
                      body_html: |
                        <p>Currently there is no official documentation for Ruqqus API but there is unofficial one by <a href="/@SuperLeaf1995"><img class="profile-pic-20 mr-1" src="/@SuperLeaf1995/pic/profile"/>@SuperLeaf1995</a> <a href="https://ruqq.us/36v6">https://ruqq.us/36v6</a>, and there is a help page on how to get started with the api: <a href="https://ruqqus.com/help/oauth">https://ruqqus.com/help/oauth</a></p>
                        <p>You can search through <a href="https://github.com/ruqqus/ruqqus" rel="nofollow noopener" target="_blank">Ruqqus's GitHub page</a> to find all of the routes.</p>
                        <p>More specifically: <a href="https://github.com/ruqqus/ruqqus/tree/master/ruqqus/routes" rel="nofollow noopener" target="_blank">https://github.com/ruqqus/ruqqus/tree/master/ruqqus/routes</a></p>
                        <hr/>
                        <p>If you wan't to get started making bots check out <a href="https://www.npmjs.com/package/ruqqus-js" rel="nofollow noopener" target="_blank">ruqqus-js</a> by <a href="/@acikek"><img class="profile-pic-20 mr-1" src="/@acikek/pic/profile"/>@acikek</a>  
                        If you are having trouble getting <code>access token</code> check out <a href="https://ruqqus-auth.glitch.me" rel="nofollow noopener" target="_blank">AutoAuth for ruqqus</a></p>
                      comment_count: 7
                      created_utc: 1598950552
                      domain: text post
                      downvotes: 0
                      edited_utc: 1605778377
                      fullname: t2_2v0b
                      guild_name: RuqqusAPI
                      id: 2v0b
                      is_archived: false
                      is_banned: false
                      is_deleted: false
                      is_nsfl: false
                      is_nsfw: false
                      is_offensive: false
                      is_politics: false
                      original_guild_name: null
                      permalink: /+RuqqusAPI/post/2v0b/how-to-get-started-using-ruqqus
                      score: 9
                      thumb_url: null
                      title: How to get started using Ruqqus API
                      upvotes: 9
                      url: ''
                    post_id: 2v0b
                    score: 4
                    upvotes: 4
                Guild banned:
                  value:
                    error: '+{board.name} is banned.'
                NSFW:
                  value:
                    error: This content is not suitable for some users and situations.
                NSFL:
                  value:
                    error: This content is not suitable for some users and situations.
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
      operationId: get-comment-c_id
      description: Get comment by ID
      parameters: []
      security:
        - OAuth2:
            - read
        - Access Token: []
    parameters:
      - schema:
          type: string
        name: c_id
        in: path
        description: Comment ID
        required: true
  /comment:
    parameters: []
    post:
      summary: Submit a comment
      operationId: postcomment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                Not an image:
                  value:
                    error: That wasn't an image!
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                Malicious content:
                  value:
                    error: Digitally malicious content is not allowed.
                Deleted:
                  value:
                    error: You can't comment on things that have been deleted
                Can't comment:
                  value:
                    error: You can't comment on this.
                Spam:
                  value:
                    error: Too much spam!
                Bad link:
                  value:
                    error: 'Remove the following link and try again: `{check_url}`. Reason: {badlink.reason_text}'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                Existing comment:
                  value:
                    error: 'You already made that comment: {existing.permalink}'
      security:
        - OAuth2:
            - create
        - Access Token: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                parent_fullname:
                  description: 'Parent comment/post ID. Prepend t2_ if post, t3_ if comment'
                  type:
                    - object
                    - string
                image:
                  type: 'null'
                  description: Image file (requires premium)
                body:
                  type: string
                  minLength: 0
                  maxLength: 10000
                  description: Comment body
              required:
                - parent_fullname
                - body
            examples: {}
          application/json:
            examples: {}
        description: ''
      description: |-
        Post a comment under a post or another comment<br>
        In `parrent_fullname` prepend `t2_` to post id if commenting on a post, and prepend `t3_` to parent comment id if replying to a comment.
  '/delete/comment/{cid}':
    parameters:
      - schema:
          type: string
        name: cid
        in: path
        required: true
        description: Comment ID
    post:
      summary: Delete comment
      operationId: post-delete-comment-cid
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
      description: Delete a comment by ID
      security:
        - OAuth2:
            - delete
        - Access Token: []
  /front/listing:
    get:
      summary: Frontpage
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
      operationId: get-front-listing
      security:
        - OAuth2:
            - read
        - Access Token: []
      description: Ruqqus frontpage
      parameters:
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/time'
        - $ref: '#/components/parameters/ignore_pinned'
        - $ref: '#/components/parameters/utc_greater_than'
        - $ref: '#/components/parameters/utc_less_than'
        - $ref: '#/components/parameters/page'
  /all/listing:
    get:
      summary: All page
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type:
                      - string
                      - array
                    items:
                      $ref: '#/components/schemas/Post'
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
      operationId: get-all-listing
      security:
        - OAuth2:
            - read
        - Access Token: []
      parameters:
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/time'
        - $ref: '#/components/parameters/ignore_pinned'
        - $ref: '#/components/parameters/utc_greater_than'
        - $ref: '#/components/parameters/utc_less_than'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/cats'
  /guilds:
    get:
      summary: Browse guilds
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Guild'
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
      operationId: get-guilds
      security:
        - OAuth2:
            - read
        - Access Token: []
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/sort-guilds'
        - $ref: '#/components/parameters/cats'
  /front/comments:
    get:
      summary: Get comments
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type:
                      - string
                      - array
                    items:
                      $ref: '#/components/schemas/Comment'
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
      operationId: get-front-comments
      security:
        - OAuth2:
            - read
        - Access Token: []
      parameters:
        - $ref: '#/components/parameters/page'
      description: Get all sitewide comments
  /identity:
    get:
      summary: Identity
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
      operationId: get-identity
      description: Get access token account data
      security:
        - OAuth2:
            - identity
        - Access Token: []
  '/post/{base36id}':
    get:
      summary: Post JSON
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                required:
                  - error
              examples:
                18+:
                  value:
                    error: Must be 18+ to view
      operationId: get-post-base36id
      description: Get post data by ID
      security:
        - OAuth2:
            - read
        - Access Token: []
      parameters:
        - $ref: '#/components/parameters/sort-comments'
    parameters:
      - schema:
          type: string
        name: base36id
        in: path
        required: true
        description: Base 36 ID of a post
  /submit:
    post:
      summary: Submit a post
      operationId: post-submit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              examples:
                Bad title:
                  value:
                    error: Please enter a better title
                Title character limit:
                  value:
                    error: 500 character limit for titles.
                URL/body required:
                  value:
                    error: '`url` or `body` parameter required.'
                BAN:
                  value:
                    error: Digitally malicious content is not allowed
                Body character limit:
                  value:
                    error: 10000 character limit for text body.
                URL character limit:
                  value:
                    error: 2048 character limit for URLs.
                Bad link:
                  value:
                    error: 'The link `{badlink.link}` is not allowed. Reason: {badlink.reason}'
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  error:
                    type: string
                    minLength: 1
                required:
                  - error
              examples:
                Guild banned:
                  value:
                    error: '403 Forbidden - +{board.name} has been banned.'
                Exiled:
                  value:
                    error: '403 Not Authorized - You are exiled from +{board.name}'
                Not a contributor:
                  value:
                    error: '403 Not Authorized - You are not an approved contributor for +{board.name}'
      security:
        - OAuth2:
            - create
        - Access Token: []
      description: Sumbit a post
      parameters:
        - $ref: '#/components/parameters/title'
        - $ref: '#/components/parameters/board'
        - $ref: '#/components/parameters/url'
        - $ref: '#/components/parameters/body'
  '/delete_post/{pid}':
    post:
      summary: ''
      operationId: post-delete_post-pid
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
      description: Delete a post
      security:
        - OAuth2:
            - delete
        - Access Token: []
    parameters:
      - schema:
          type: string
        name: pid
        in: path
        required: true
        description: Post ID
  '/toggle_post_nsfl/{pid}':
    post:
      summary: Toggle post NSFL
      operationId: post-toggle_post_nsfl-pid
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
      security:
        - OAuth2:
            - update
        - Access Token: []
      description: Toggle NSFL on a post
    parameters:
      - schema:
          type: string
        name: pid
        in: path
        required: true
        description: Post ID
  '/toggle_post_nsfw/{pid}':
    parameters:
      - schema:
          type: string
        name: pid
        in: path
        required: true
    post:
      summary: ''
      operationId: post-toggle_post_nsfw-pid
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/401-Not-Authorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
      description: Toggle NSFW on a post
      security:
        - OAuth2:
            - update
        - Access Token: []
  '/is_available/{name}':
    parameters:
      - schema:
          type: string
        name: name
        in: path
        required: true
        description: Account username to check
    get:
      summary: Username available
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  username:
                    type: boolean
                required:
                  - username
              examples:
                kek:
                  value:
                    kek: false
                captainmeta4:
                  value:
[...]
